.square-animated {
    background-repeat:no-repeat;
    width:500px;
    height:250px;
    position: relative;
    margin-top: 66px;
    bottom:140px;
    left:0px;
}

.square-animated {
    animation: leaves 6s ease-in-out infinite alternate;
    -webkit-animation: leaves 6s ease-in-out infinite alternate;
}

@keyframes leaves {
    0% {
        background-color: #fc0d67;
        transform: scale(1.0);
        -webkit-transform: scale(1.0);
    }
    70%{
        background-color: #000000;
    }
    100% {
        background-color: #000000;
        transform: scale(0.5);
        -webkit-transform: scale(0.5);
    }
}

